.hero {
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splide {
    position: relative;
    z-index: 1;
    width: 100%;
}

.slide {
    font-size: 200px;
    line-height: 1;
    font-weight: 700;
    color: #e5e8e8;
}

.character {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .slide {
        font-size: 150px;
    }
}

@media screen and (max-width: 640px) {
    .slide {
        font-size: 130px;
    }
}

@media screen and (max-width: 500px) {
    .slide {
        font-size: 100px;
    }
}

@media screen and (max-width: 380px) {
    .slide {
        font-size: 70px;
    }
}



