.footer {
    height: 80px;
}

/* home */
.footer.is_home {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.nav {
    max-width: 1800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.copy {
    font-size: 14px;
    color: #0B0F19;
    word-break: keep-all;
    line-height: 1.4;
    letter-spacing: -.5px;
}

.link_list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link_list li {
    width: fit-content;
    height: 30px;
}

.link {
    position: relative;
    font-size: 16px;
    display: block;
    height: 100%;
    color: #0B0F19;
    font-weight: 700;
    bottom: 0;
    right: 0;
    transition: all .5s ease;
}

.link:hover {
    bottom: 5px;
    right: 5px;
}

@media screen and (max-width: 1800px) {
    .nav {
        padding: 0 3%;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
    }
}
