header {
    width: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.nav {
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gnb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.gnb li {
    width: calc(100% / 3);
}

.depth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #0B0F19;
    letter-spacing: -.5px;
    position: relative;
    left: 0;
    bottom: 0;
    transition: all .5s ease;
}

.depth::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 8px;
    height: 8px;
    background: #0B0F19;
    border-radius: 50%;
    transition: all .5s ease;
}

.depth:hover,
.depth.is_active {
    left: 5px;
    bottom: -8px;
}

.depth:hover::after,
.depth.is_active::after {
    transform: translateX(-50%) scale(1);
}

.util {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle button {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #0B0F19;
    transition: all .3s ease;
}

.toggle button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.ham {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    width: 5em;
    height: 40px;
    border-radius: 100px;
    background: #0B0F19;
    cursor: pointer;
    transition: all .3s ease;
}

.ham:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #0047ff;
}

.top {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    width: 4em;
    height: 40px;
    border-radius: 100px;
    background: #0B0F19;
    cursor: pointer;
    transition: all .3s ease;
}

.top:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #0047ff;
}

@media screen and (max-width: 1800px) {
    nav {
        padding: 0 3%;
    }

    .util {
        right: 3%;
    }
}

@media screen and (max-width: 968px) {
    .nav {
        height: 80px;
    }

    .gnb {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .nav {
        height: 60px;
    }

    .util {
        gap: 8px;
    }

    .ham {
        font-size: 14px;
        height: 35px;
    }

    .toggle button {
        width: 35px;
    }

    .toggle button img {
        width: 20px;
    }

    .top {
        font-size: 14px;
        height: 35px;
    }
}