/************************ common */
.main {
    padding-top: 0;
}

.nav {
    max-width: 1600px;
    margin: 0 auto;
}

.section {
    height: 100dvh;
    padding: 100px 0;
    position: relative;
    overflow: auto;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;

    & .swiper_slide {
        width: 100%;
        height: 100%;
        background: #F8F7F4;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding-top: 100px;

        &:global(.swiper-slide-active) .slide {
            filter: blur(0);
        }
    }

    & :global(.navi) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        bottom: 200px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        & :global(.swiper-button-prev),
        & :global(.swiper-button-next) {
            position: static;
            margin: 0 !important;
        }

        & :global(.swiper-button-prev svg),
        & :global(.swiper-button-next svg) {
            display: none;
        }

        & :global(.navi__counter) {
            display: flex; 
            align-items: center;
            justify-content: center;
            gap: 4px;
        }
    }
}

.box {
    width: 100%;
    position: relative;
    height: fit-content;
}

.splide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
}

.slide {
    font-size: 200px;
    line-height: 1;
    font-weight: 700;
    color: #0B0F19;
    text-transform: uppercase;
    filter: blur(10px);
    padding: 30px 0;
    transition: filter .5s .3s ease;
}

.figure {
    border-radius: 30px;
    overflow: hidden;
    max-width: 400px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);

    & img {
        width: 100%;
        height: 100%;
    }
}

.project_name {
    font-size: 20px;
    color: #0B0F19;
    font-weight: 800;
    word-break: keep-all;
    text-align: center;
    margin: 3em 0 1em;
}

.ex {
    font-size: 16px;
    color: #666;
    font-family: "pretendard", sans-serif;
}

@media screen and (max-width: 1600px) {
    .nav {
        padding: 0 3%;
    }
}

@media screen and (max-width: 968px) {
    .main {
        padding: 0 0 10.5%;
    }

    .section {
        padding: 10.5% 0;
    }
}

