#main {
    padding: 100px 0;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;
}

/* 비디오 영역 */
.video_wrap {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 50px;

    & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 640px) {
    .video_wrap {
        border-radius: 15px;
        margin-bottom: 30px;
    }
}