html,
body {
    /* 라이트 모드 #f8f7f4  다크모드  #0B0F19 */
    background-color: #f8f7f4;
    font-family: "Syne", sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #0B0F19;
    border-radius: 4px;
}