/* 라이트 모드 #f8f7f4  다크모드  #0B0F19 */
body {
    font-family: "Syne", sans-serif;
    background-color: #f8f7f4;
    transition: background-color .3s ease;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0B0F19;
        border-radius: 4px;
    }

    &::selection {
        background-color: #0B0F19;
        color: #f8f7f4;
    }

    &.is-dark {
        background-color: #0B0F19;

        & p {
            color: #fff;
        }

        &::-webkit-scrollbar {
            background-color: #333;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #f8f7f4;
        }

        &::selection {
            background-color: #f8f7f4;
            color: #0B0F19;
        }
    }
}
